#container {
    width: 400px;
    height: 400px;
    position: relative;
    /*background: yellow;*/
    border-radius: 8px;
    background-image: url("background.jpg");
    background-repeat: repeat-x;
}
#size{
    width: 400px;
}
#girl {
    position: absolute;
    top: 0px;
    left: 0px;
}
#fish {
    position: absolute;
    top: 250px;
    left: 260px;
}

.no_dropped li {
    width: 100%;
    background-color: aliceblue;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 10px;
}

#start {
    width: 100%;
    background-color: cadetblue;
}

li {
/*margin: 5px;
padding: 5px;*/
width: 100%;
background-color: bisque;
}

input {
    width: 30%;
}
span.input-group-addon{
    margin: 0;
    padding: 0;
}
li.running_line {
    background-color: limegreen;
}
/*
select {

    color: blueviolet;
}*/
