#container {
    width: 400px;
    height: 400px;
    position: relative;
    /*background: yellow;*/
    border-radius: 8px;
    background-image: url("background.jpg");
    background-repeat: repeat-x;
}
#size {
    width: 400px;
}
#girl {
    position: absolute;
    top: 0px;
    left: 0px;
}
#fish {
    position: absolute;
    top: 250px;
    left: 260px;
}
.running_line {
    background-color: crimson;
}
ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
li { margin: 5px; padding: 5px; width: 150px; }