#container {
    width: 400px;
    height: 400px;
    position: relative;
    /*background: yellow;*/
    border-radius: 8px;
    background-image: url("background.jpg");
    background-repeat: repeat-x;
}
#size {
    width: 400px;
}
#girl {
    position: absolute;
    top: 0px;
    left: 0px;
}
#fish {
    position: absolute;
    top: 250px;
    left: 260px;
}